<!DOCTYPE html>
<html>
  <head>
    <title>Liga de Futbol</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Boostrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Nuestro CSS -->
    <link rel="stylesheet" id="estiloPagina" href="#">
    <link rel="shortcout icon" type="image/x-icon" href="images/Favicon/logo.ico">
	<!-- JQuery-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Bootstrap JS-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- Nuestro JS -->
    <script src="javascripts/cambiarEstilo.js"></script>
    
  </head>
  <body>
  	<div class="container">
  		<!-- Encabezado -->
		<div class="header">
			<img id="titulo" src="../images/Fondos/EstiloGeneral/banner.png">
			<button class ="btn btn-default" onclick="cambiarEstilo('estiloGeneral.css')">Modo Normal</button>
			<button class ="btn btn-default" onclick="cambiarEstilo('estiloOscuro.css')">Modo Oscuro</button>
		</div>
		
		<!-- Boton Login Facebook -->
		<a href="/auth/facebook">
			<button id="btnLogin"><span class="fa fa-facebook"></span>Facebook</button>
		</a>
		<!-- Boton Cerrar Sesion Facebook  -->
		<a href="/auth/logout">
			<button id="btnSalir">Salir</button>
		</a>

  		<!-- Barra de navegacion -->
		<ul class="nav nav-tabs">
			<li>
				<a href="../">Fixture</a>
			</li>
			<li>
				<a href="../resultados">Resultados</a>
			</li>
			<li>
				<a href="../equipos">Equipos</a>
			</li>
			<li role="presentation" class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tablas<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="../posiciones">Posiciones</a></li>
					<li><a href="../goleadores">Goleadores</a></li>
					<li><a href="../amarillas">Amarillas</a></li>
				</ul>
			</li>
			<li>
				<a href="../videos">Videos</a>
			</li>
			{% if user.esEditor %}
			<li>
				<a href="../editor">Editor</a>
			</li>
			{% endif %}
		</ul>
    
    	{% block body %}{% endblock %}

	</div>
  </body>
</html>
