{% extends 'layout.twig' %}

{% block body %}
	<div>
		<img id="logoPosiciones" src="../images/Titulos/posiciones.png" alt="Posiciones">

		<table class="table table-hover table-bordered" id="tablaPosiciones">
			<tr>
				<th>Equipo</th>
				<th>PTS</th>
			</tr>
			{% for equipo in tPosiciones %}
				<tr>
					<td>{{ equipo.equipo }}</td>
					<td>{{ equipo.puntos }}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}