{% extends 'layout.twig' %}

{% block body %}
	<img id="logoVideos" src="./images/Titulos/videos.png">
	<div>
	    <div id ="container">
	        <ul id="results"></ul>
	    </div>
	</div>
	<script src="javascripts/youtubeApi.js" async></script>
{% endblock %}